* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  body {
    line-height: 1.5;
    font-family: Georgia, "Times New Roman", Times, serif;

    main {
      height: 60vh;
      width: 100%;
      color: #fff;
      background-color: beige;
      text-shadow: 1px 1px 2px #4f576e;
      .content {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
      }
    }

    .footer {
      background-color: #4f576e;
      padding: 100px 0;
      display: flex;

      .container {
        max-width: 1170px;
        margin: auto;

        .row {
          display: flex;
          flex-wrap: wrap;

          .footer-col {
            width: 25%;
            padding: 0 15px;

            h4 {
              font-size: 18px;
              color: #fff;
              text-transform: capitalize;
              margin-bottom: 35px;
              text-shadow: 1px 1px 3px #000000;
              font-weight: 500;
              position: relative;
            }

            h4::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: -10px;
              background-color: #e91e63;
              height: 2px;
              box-sizing: border-box;
              width: 50px;
            }

            ul {
              list-style: none;

              li {
                a {
                  font-size: 16px;
                  text-transform: capitalize;
                  color: #fff;
                  text-decoration: none;
                  font-weight: 300;
                  color: #bbbbbb;
                  display: block;
                  transition: all 0.3s ease;
                }

                a:hover {
                  color: #fff;
                  padding-left: 10px;
                }
              }

              li:not(:last-child) {
                margin-bottom: 8px;
              }
            }

            .social-links {
              a {
                display: inline-block;
                height: 40px;
                width: 40px;
                background-color: rgba(255, 255, 255, 0.2);
                margin: 0 10px 10px 0;
                text-align: center;
                line-height: 40px;
                color: #fff;
                border-radius: 50%;
                transition: all 0.5s ease;
              }

              a:hover {
                color: #1c1e24;
                background-color: rgb(245, 243, 243);
              }
            }
          }
        }
      }
    }
  }
}

// responsive
@media screen and (max-width: 700px) {
  * {
    body {
      .footer {
        .container {
          .row {
            flex-direction: column;

            .footer-col {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
