@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans:wght@700&family=Teko&display=swap");

// font-family: 'Montserrat', sans-serif;

// font-family: 'Noto Sans', sans-serif;

// font-family: 'Teko', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  .cards {
    width: 75%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    grid-gap: 30px;

    .card {
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.7);

      img {
        height: 50%;
        width: 100%;
      }

      .content {
        text-align: center;
        padding: 25px 25px;

        h2 {
          margin-top: 5px;
          letter-spacing: 1.5px;
          color: #333;
          font-family: "Noto Sans", sans-serif;
        }

        h3 {
          font-size: 17px;
          color: #5c5c5c;
          letter-spacing: 1px;
          font-family: "Teko", sans-serif;
        }

        p {
          margin-top: 10px;
          color: #5c5c5c;
        }

        a {
          margin-top: 10px;
          text-decoration: none;
          display: inline-block;
          background-color: #eb715c;
          color: #fff;
          font-size: 17px;
          padding: 5px 18px;
          border-radius: 40px;
          letter-spacing: 1.5px;
        }

        a:hover {
          background-color: #030101;
          transition: 1.2s ease;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 60%;
    max-width: 400px;
    min-width: 250px;
    justify-items: center;
    align-items: center;
  }
}
